
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 @font-face {
    font-family: robotto;
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

:root{
    --purplecolor: #5E3BEE;
    --robotto: robotto;
}

 
/* navbar start */
.home{
    color: var(--purplecolor) !important;
    font-family: var(--robotto) !important;
    font-weight: 400 !important;
    font-size: 21.33px !important;
}

.list{
    font-family: var(--robotto) !important;
    color: #1C1E53 !important;
    font-weight: 400 !important;
    font-size: 21.33px !important;
}

.btn-purple{
    color: var(--purplecolor);
     font-family: var(--robotto) !important;
    font-weight: 400 !important;
    font-size: 21.33px !important;
    font-weight: 400 !important;
    border: 1px solid var(--purplecolor);
    
}

/* navbar end */



/* hero section start */

.hero{
    background-color: #F5FCFF;
}

.heading{
    font-family: var(--robotto) !important;

}
.hero-btn{
    background-color: var(--purplecolor);
    color: white;
}


.design{
    color: var(--purplecolor);
}


/* hero section end */


/* my expertise start */

.chase{
    width: 80%;
         
}



.cardsect{
    width:100% ;
 background-color: #F5FCFF;

    
}

.arrow{
     font-family: robotto!important;
    font-weight: 500 !important;
    font-size: 20px !important;
    
}

/* my expertise end */


/* About me section start  */


.lines{
    color:#1C1E53 ;
}
  


/* About me section end */



  /* my project start */

.chat{
    width: 100%;
}

.image{
   width:  100%;
}

.imgdiv{
    width: 100%;
}


.card-body button{
    padding: 15px;
    outline: none !important;
    border: none !important;
    border-bottom: 3px solid var(--purplecolor) !important;
    
    background: transparent;
}


 /* my project end */


 /* tetimonials start */

.face{
    border-radius: 50%;
    width: 23%;
}


.face img{
    width: 100%;
}

.act{
    padding-left: 22px;
    padding-top: 3px;
}



 /* tetimonials end */