
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --purplecolor: #5E3BEE;
}
@font-face {
    font-family: robotto;
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}
.home{
    color: var(--purplecolor) !important;
    font-family: robotto !important;
    font-weight: 400 !important;
    font-size: 21.33px !important;
}

.list{
    font-family: robotto !important;
    color: #1C1E53 !important;
    font-weight: 400 !important;
    font-size: 21.33px !important;
}

.btn-purple{
    color: var(--purplecolor);
     font-family: robotto !important;
    font-weight: 400 !important;
    font-size: 21.33px !important;
    font-weight: 400 !important;
    border: 1px solid var(--purplecolor);
}