
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 @font-face {
    font-family: robotto;
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

:root{
    --purplecolor: #5E3BEE;
    --robotto: robotto;
}

 
/* navbar start */
.home{
    color: var(--purplecolor) !important;
    font-family: var(--robotto) !important;
    font-weight: 400 !important;
    font-size: 21.33px !important;
}

.list{
    font-family: var(--robotto) !important;
    color: #1C1E53 !important;
    font-weight: 400 !important;
    font-size: 21.33px !important;
}

.btn-purple{
    color: var(--purplecolor);
     font-family: var(--robotto) !important;
    font-weight: 400 !important;
    font-size: 21.33px !important;
    font-weight: 400 !important;
    border: 1px solid var(--purplecolor);
    
}

/* navbar end */



/* hero section start */

.hero{
    background-color: #F5FCFF;
}

.heading{
    font-family: var(--robotto) !important;

}
.hero-btn{
    background-color: var(--purplecolor);
    color: white;
}


.design{
    color: var(--purplecolor);
}


/* hero section end */


/* my expertise start */

.cards{
   background-color: #F5FCFF;
   border: 20px solid #F5FCFF;
   border-radius: 30px !important;
   width: 20% !important;
  
}
.content{
    font-family: var(--robotto) !important;
    font-weight: 700 !important;
    font-size: 25px !important;
    font-style: bold !important;
}
.para{
    font-family: var(--robotto) !important;
}
.cardimg{
    width: 37% !important;
}